.container {
  width: 90%;
}

.buttons {
  margin-top: 2rem;
}

.card {
  width: 300px;
  .card-text {
    color: #000;
    height: 70px;
  }
  .card-title {
    margin-bottom: 1rem;
  }
}

.readers {
  margin-top: 2rem;
}